body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}


video {
  width: 100%;
  height:50%;
}

body {
  text-align: center;
  padding-top: 20px;
}
footer{
  position: fixed;
  bottom: 0;
  background-image:linear-gradient(cyan,yellow);
  height:30px;
  width:100%;
}